@model IEnumerable<Proyecto24AM.Models.Entities.User>
@*@model List<Proyecto24AM.Models.Entities.Article>*@
@{
    ViewData["Title"] = "Usuario";
    Layout = "_LayoutDashboard";
}

<h1>Dashboard</h1>

<div class="row">
    <div class="offset-10 col-4 mb-4">
        <a asp-action="Crear" asp-controller="User" class="btn-success mx-auto btn-lg">Nuevo</a>
    </div>
</div>
<div class="container-fluid ml-5 libro">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de usuarios</strong></h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblUser" width="100%" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th> @Html.DisplayNameFor(x=>x.Name)</th>
                                    <th> @Html.DisplayNameFor(x=>x.lastName)</th>
                                    <th>Usuario</th>
                                    <th> @Html.DisplayNameFor(x=>x.Password)</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var Item in Model) // Mapea cada columna
                                {
                                    <tr>
                                        <td><span>@(i++)</span></td>
                                        @*<td>@Html.DisplayFor(x=>Item.PKArticle)</td>*@
                                        <td> @Html.DisplayFor(x => Item.Name)</td>
                                        <td> @Html.DisplayFor(x => Item.lastName)</td>
                                        <td> @Html.DisplayFor(x => Item.UserName) </td>
                                        <td> @Html.DisplayFor(x => Item.Password) </td>
                                        <td> @Html.DisplayFor(x => Item.FKRol) </td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Editar" asp-route-id=@Item.PKUser><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                                            <a class="btn btn-danger eliminar-articulo" data-id="@Item.PKUser"><i class="fa-solid fa-trash"></i> Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblUser').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando START a END de TOTAL Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de MAX total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar MENU Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });

        $('.eliminar-articulo').on('click', function () {
            //if (confirm('¿Estás seguro de que deseas eliminar este artículo?')) {}

            Swal.fire({
                title: "Esta seguro que deseas borrar?",
                text: "No podrás revertir esto.!",
                icon: "warning",

                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, deseo borrar!"
            }).then((result) => {
                if (result.isConfirmed) {

                    var articuloId = $(this).data('id');

                    $.ajax({
                        url: '/User/Eliminar/' + articuloId,
                        type: 'DELETE',
                        success: function (data) {
                            console.log(data)

                            if (data.succes == true) {
                                //debugger
                                location.reload(); // Recarga la página completa
                                //window.location.href = "/Articulos/Index";
                            }
                        }
                    });

                    Swal.fire({
                        title: "Eliminando!",
                        text: "ha sido eliminado correctamente.",
                        icon: "success",
                        timer: 4000
                    });
                }
            });
        });
    </script>
}